<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBI4v2piT8n6oi-aQGWLNWExz21APmpTr4</string>
	<key>GCM_SENDER_ID</key>
	<string>571408789555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skyload</string>
	<key>PROJECT_ID</key>
	<string>fleetpoint-d5c6d</string>
	<key>STORAGE_BUCKET</key>
	<string>fleetpoint-d5c6d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571408789555:ios:8430a46be31f271297b346</string>
</dict>
</plist>